li {
    list-style-type: none;
    padding: 10px;
    padding-inline-start: 5px;
    /* font-family: Georgia, serif; */
    font-family: Helvetica, sans-serif;
}

p {
    font-family: Helvetica, sans-serif;
}

.Issue-title {
    text-align: center;
}

.Front-cover {
    color: rgb(0, 0, 0);
    padding: 5em;
    margin: auto auto 5%;
    width: 50%;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(227, 226, 226);
}

.Front-cover a {
    text-decoration: none;
    color: black;
    font-size: large;
}

.Front-cover a:hover {
    background-color: red;
}