li {
    list-style-type: none;
    padding: 10px;
    padding-inline-start: 5px;
    font-family: Helvetica, sans-serif;
}

p {
    font-family: Helvetica, sans-serif;
}

.Issue-title {
    text-align: center;
}

.Front-cover {
    color: rgb(0, 0, 0);
    padding: 5em;
    margin: auto auto auto;
    width: 50%;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(227, 226, 226);
}

.Front-cover a {
    text-decoration: none;
    color: black;
    font-size: large;
}

.Front-cover a:hover {
    background-color: red;
}

.Front-cover a:active {
  background-color: transparent;
}

.Post-button {
    appearance: button;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
    box-sizing: content-box;
    color: #000000;
    cursor: pointer;
    display: inline;
    font-family: Helvetica,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 5px 10px 0;
    overflow: clip;
    padding: 12px 40px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: normal;
  }

  .Post-button:focus {
    text-decoration: none;
  }

  .Post-button:hover {
    text-decoration: none;
  }

  .Post-button:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
    /* background-color: purple; */
  }

  /* .Post-button a:active {
    background-color: none;
  } */

  .Post-button:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
  }

  @media (min-width: 768px) {
    .Post-button {
      padding: 12px 50px;
    }
  }

