ul {
  margin: 1px;
  padding: 1px;
}

p {
    font-family: Helvetica, sans-serif;
}

.Issue-title {
    text-align: center;
}

@media screen and (min-width: 600px) {
    .Front-cover {
      color: rgb(0, 0, 0);
      padding: 5em;
      margin: auto auto auto;
      width: 50%;
      border: 2px solid rgb(0, 0, 0);
      background-color: rgb(227, 226, 226);
  }
}

@media screen and (max-width: 600px) {
    .Front-cover {
      color: rgb(0, 0, 0);
      padding: 5em;
      margin: auto auto 3vh;
      width: 50%;
      border: 2px solid rgb(0, 0, 0);
      background-color: rgb(227, 226, 226);
  }
}


.Front-cover a {
    text-decoration: none;
    color: black;
    font-size: large;
}

.Front-cover a:hover {
    background-color: red;
}

.Front-cover a:active {
  background-color: transparent;
}

.Post-button {
    appearance: button;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #000;
    border-radius: 3px;
    box-shadow: #c2c2c2 4px 4px 0 0,#000000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline;
    font-family: Helvetica,sans-serif;
    font-size: 15px;
    /* font-weight: 0; */
    line-height: 17px;
    margin: 0 5px 10px 0;
    overflow: clip;
    padding: 12px 40px;
    text-align: left;
    text-transform: uppercase;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: normal;
  }

  .Post-button:focus {
    text-decoration: none;
  }

  .Post-button:hover {
    text-decoration: none;
  }

  .Post-button:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
  }

  .Post-button:not([disabled]):active {
    box-shadow: #c2c2c2 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
  }

  @media (min-width: 768px) {
    .Post-button {
      padding: 15px 15px;
    }
  }

