.Issue-nav {
    margin: 10px 200px 30px;
}

.Issue-nav > * {
    color: white;
    margin:auto;
}

.Issue-nav a {
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 14px 25px;
}

.Issue-nav a:hover, a:active {
    background-color: red;
}

.Issue-nav-previous > * {
    float: left;
}

.Issue-nav-next > * {
    float: right;
}

.clear {
    clear: both;
}