.Issue-nav {
    margin: 1vw 0vh 1vw;
}

.Issue-nav > * {
    color: white;
}

.Issue-nav a {
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 1em 1em;
    font-size: 90%;
}

.Issue-nav a:hover, a:active {
    background-color: red;
}

.Issue-nav-previous > * {
    float: left;
}

.Issue-nav-next > * {
    float: right;
}

.clear {
    clear: both;
}