li {
    list-style-type: none;
    padding: 10px;
    padding-inline-start: 5px;
    font-family: Helvetica, sans-serif;
}

div.Post p {
    font-family: Helvetica, sans-serif;
}

@media screen and (min-width: 00px) {
    .Post {
        color: rgb(0, 0, 0);
        padding: 4em;
        margin: auto auto 3%;
        width: 50vw;
        border: 2px solid rgb(0, 0, 0);
        background-color: rgb(227, 226, 226);
    }
}

@media screen and (max-width: 600px) {
    .Post {
        color: rgb(0, 0, 0);
        padding: 1em;
        margin: auto auto 3%;
        width: 85vw;
        border: 2px solid rgb(0, 0, 0);
        background-color: rgb(227, 226, 226);
    }
}


figure {
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-block-end: 0em;
    margin-block-start: 0em;
}

.wp-block-image > img {
    width: 100%;
    height: auto;
}

.Post-title a {
    text-decoration: none;
    color: black;
}

.wp-block-embed * {
    height: 60vh;
    width: 100%;
}

/* body.site-as-giant-card {
    background-color: red;
}

.html5-video-player {
    background-color: red;
} */

.html-video-player {
    background-color: red;
}