li {
    list-style-type: none;
    padding: 10px;
    padding-inline-start: 5px;
    font-family: Helvetica, sans-serif;
}

div.Post p {
    font-family: Helvetica, sans-serif;
}

.Post {
    color: rgb(0, 0, 0);
    padding: 5em;
    margin: auto auto 3%;
    width: 50%;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(227, 226, 226);
}

/* .Post > img {
    padding: 1em;
    margin: auto auto 5%;
    width: 50%;
} */

.Post-title a {
    text-decoration: none;
    color: black;
}

.Post-title a:hover {
    background-color: red;
}