ul.Nav-list li {
    display: inline-block;
    font-family: 'Helvetica', sans-serif;
}

ul.Nav-list {
    text-align: center;
    padding: 0;
    background-color: #ffff00;
    margin: 0;
}

ul.Nav-list a {
    text-decoration: none;
    color: black;
}

ul.Nav-list a:hover {
    background-color: red;
}

.Homepage-link {
    text-decoration: none;
    color: white;
}

.Responsive {
    max-width: 100%;
}